extends index

block content
  Triceratops is a genus of herbivorous ceratopsid dinosaur that first appeared during the late Maastrichtian stage of the late Cretaceous period, about 68 million years ago (Mya) in what is now North America. It is one of the last known non-avian dinosaur genera, and became extinct in the Cretaceous–Paleogene extinction event 66 million years ago.[1] The term Triceratops, which literally means "three-horned face", is derived from the Greek τρί- (tri-) meaning "three", κέρας (kéras) meaning "horn", and ὤψ (ops) meaning "face".
